

  .heading_text {
    font-family: 'Fira Sans', sans-serif;
    font-size: 45px;
    color: #bfc6cd;
  }
  .headng_content {
    font-family: 'Fira Sans', sans-serif;
    font-size: 18px;
    color: #bfc6cd;
    line-height: 35px;
  }

  .time_text {
    color: #727e8a;
    font-size: 24px;
    font-family: 'Fira Sans', sans-serif;

  }
  .text_dummy {
    color: #c69c37;
    font-size: 14px;
    font-family: 'Fira Sans', sans-serif;

  }
  .inner_content {
    color: #727e8a;
    font-size: 14px;
    font-family: 'Fira Sans', sans-serif;
  }
  .mrgn_minus {
    margin-top: -37px;

  }
  .text_heading1 {
    font-size: 42px;
    color: #bfc6cd;
    font-family: 'Fira Sans', sans-serif;
  }

  .spacing_top {

    margin-top: 150px;
  }


  /*section_latest*/

  .time_text {
    color: #727e8a;
    font-size: 24px;
    font-family: 'Fira Sans', sans-serif;

  }
  .text_dummy {
    color: #c69c37;
    font-size: 14px;
    font-family: 'Fira Sans', sans-serif;

  }
  .inner_content {
    color: #727e8a;
    font-size: 14px;
    font-family: 'Fira Sans', sans-serif;
  }
  .mrgn_minus {
    margin-top: -37px;

  }
  .text_heading1 {
    font-size: 42px;
    color: #bfc6cd;
    font-family: 'Fira Sans', sans-serif;
  }

  .spacing_top {

    margin-top: 150px;
  }


  .input_padng1{
    padding: 20px 28px 20px 28px;
    background-color: transparent;
    border: 1px solid #1c252f;
  }

  .form-control {

    border-radius: 0 !important;
  }
    .form-control:focus{
      box-shadow:0 0 0 0 #fff !important;
    }


  .input_padng1:focus{
    background-color: #1c252f;
    border: 1px solid rgba(191, 198, 205, 0.27);
  }

  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-family: 'Fira Sans', sans-serif;
    font-size: 18px;
    color: #bfc6cd;
  }
